.Header {
    display: flex;
    background-color: rgb(27, 27, 27);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.Header img {
    width: 60px;
}

.Header__menu ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.Header__menu li {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}


.Header__menu li:hover {
    background-color: rgb(58, 58, 58);
}

.Header a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
}