body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  height: 200px;
  width: 300px;
  border-radius: 15%;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.329);
}

footer {
  font-style: italic;
}
