.Footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.Footer img {
    width: 60px;
}

.Footer p {
    color: white;
}