.BulletinBoard {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: white;
}

.BulletinBoard_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: -1;
}

.BulletinBoard_todo {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.ToDoContent {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
}