@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 40px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btns__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form__btn,
.home__btn {
  height: 32px;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  font-weight: bold;
  text-decoration: none;
}

.form__btn:hover,
.home__btn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.form__btn:active .home__btn:active {
  position: relative;
  top: 1px;
}

.form__btn a,
.home__btn a {
  color: black;
}

.hamburger__btn img {
  width: 20px;
  height: 20px;
}

.hamburger__btn {
  width: 32px;
  height: 32px;
  position: relative;
  border: none;
  border-radius: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  font-weight: bold;
  text-decoration: none;
}

.hamburger__btn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.hamburger__btn:active {
  position: relative;
  top: 1px;
}

.qnt__counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  top: -14px;
  right: -14px;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  background-color: white;
  border-radius: 100%;
}

.hamburger__cont {
  padding-bottom: 75px;
  z-index: 10;
  width: 300px;
  min-height: 400px;
  box-shadow: 3px 3px 3px rgba(124, 124, 124, 0.253);
  border-radius: 10px;
  background-color: white;
  position: absolute;
  right: 40px;
  opacity: 0;
  transition: 100ms;
}

.ham__footer {
  margin: 0 auto;
  width: 95%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.274);
  align-items: flex-end;
}

.remove__btn__cart {
  cursor: pointer;
}

.cart__item__cont {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__img {
  width: 30px;
  height: 30px;
}

.btn__elim {
  width: 20px;
  height: 20px;
}

.display {
  opacity: 1 !important;
}

.hero__img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(124, 124, 124, 0.253);
}

.button__wrapper {
  margin: 20px 0;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.leftBtn {
  background-color: black;
}

.leftBtn,
.centerBtn,
.rightBtn {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
}

.leftBtn:hover,
.centerBtn:hover,
.rightBtn:hover {
  background-color: black;
}

h2,
p {
  padding: 0;
  margin: 5px;
  font-size: 0.7rem;
}

.card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 20px;
  width: 120px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(124, 124, 124, 0.253);
  box-sizing: content-box;
  background-size: cover !important;
  transition: box-shadow 200ms linear;
}

.card:hover {
  box-shadow: 3px 3px 3px rgba(31, 31, 31, 0.808);
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(195, 4%, 36%, 0.459) 0%,
    hsla(0, 0%, 0%, 0.7) 70%,
    hsla(0, 0%, 0%, 0.9) 100%
  );
  border-radius: 8px;
}

.card__title,
.card__desc,
.card__btn,
.cat__name {
  position: relative;
}

.card__title {
  padding-top: 10px;
  border-top: 1px solid white;
}

.card__btn {
  margin: 10px 5px;
  width: 95%;
  height: 20px;
  font-size: 0.7rem;
  cursor: pointer;
}
