.Card{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    
    img{
        background-color: rgb(58, 179, 138);
        border-radius: 10px;
        box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.3);
        object-fit: cover;
    }

    h3, p{
        margin: 0;
    }
}